html {
  scroll-behavior: smooth; }

body {
  background-color: #1A472B; }

font-face {
  font-family: bold;
  src: url(./assets/font/Timeless-Bold.ttf); }

#encabezado {
  background: -webkit-gradient(linear, left top, left bottom, from(#FAF1CE));
  background: linear-gradient(#FAF1CE);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px groove; }
  #encabezado h1 {
    margin-top: 30px;
    margin-left: -25px; }
  #encabezado img {
    width: 200px;
    height: 140px; }
  #encabezado nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    margin-top: 70px;
    margin-left: 435px; }
    #encabezado nav a {
      text-decoration: none;
      color: #1A472B;
      padding: 5px;
      font-size: 20px; }
    #encabezado nav li {
      list-style: none;
      margin: 15px;
      border: 2px solid;
      -webkit-box-shadow: 5px;
              box-shadow: 5px;
      width: 120px;
      text-align: center;
      border-radius: 5px; }
  #encabezado form {
    position: absolute;
    margin-left: 1150px;
    margin-top: 15px; }

#myCarousel {
  margin-left: 300px;
  margin-right: 300px;
  border: thick 5px #FAF1CE;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

#fotos {
  background-color: #1A472B;
  border: groove 3px #FAF1CE; }
  #fotos img {
    width: 700px;
    height: 500px; }

.institucional {
  background-color: #1A472B;
  color: #FAF1CE;
  margin-left: 250px;
  margin-right: 250px;
  border: groove 5px #FAF1CE;
  font-size: 17px;
  height: 110px;
  margin-top: 25px;
  text-align: center; }

.mision {
  position: absolute;
  background-color: #1A472B;
  color: #FAF1CE;
  margin-left: 25px;
  margin-top: 60px;
  border: groove 5px #FAF1CE;
  font-size: 18px;
  width: 25%;
  height: 570px;
  padding: 3px;
  text-align: left;
  display: none; }

.vision {
  position: absolute;
  background-color: #1A472B;
  color: #FAF1CE;
  margin-left: 374px;
  margin-top: 60px;
  border: groove 5px #FAF1CE;
  font-size: 18px;
  width: 25%;
  height: 570px;
  padding: 3px;
  text-align: left;
  display: none; }

.valores {
  position: absolute;
  background-color: #1A472B;
  color: #FAF1CE;
  margin-left: 725px;
  margin-top: 60px;
  border: groove 5px #FAF1CE;
  font-size: 18px;
  width: 25%;
  height: 570px;
  padding: 3px;
  text-align: left;
  display: none; }

.institucionalA {
  background-color: #1A472B;
  color: #FAF1CE;
  margin-left: 40px;
  margin-right: 15px;
  border: groove 5px #FAF1CE;
  font-size: 18px;
  width: 25%;
  height: 55px;
  padding: 3px;
  text-align: center;
  border-radius: 10px; }

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 145px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px; }

.servicios {
  background-color: #1A472B;
  margin-top: 50px;
  color: #FAF1CE;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: groove 5px #FAF1CE;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  .servicios article {
    border: groove 3px #FAF1CE;
    width: 40%;
    height: 400px;
    margin: 45px;
    background-color: #FAF1CE;
    color: #1A472B;
    border-radius: 10px; }

.titulo {
  font-style: italic;
  font-size: 25px;
  text-decoration: underline; }

.contacto {
  background-color: #FAF1CE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contacto form {
    margin-top: 15px;
    margin-left: 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

iframe {
  position: absolute;
  margin-left: 680px;
  margin-top: -330px; }

.mensaje {
  height: 150px; }

footer {
  background-color: #1A472B;
  color: #FAF1CE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-end;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */